.form-check {
	display: flex;
	align-items: center;
}

.form-check {
	width: 100%;
}

.form-check-label {
	display: block;
	width: 100%;
}

#ai_images img {
	display: inline-block;
	width: 100px;
	height: 75px;
	object-fit: contain;
	margin: 4px;
	vertical-align: top;
	background: #fff;
}
